flows.json
[{"id":"e9567a15.36af8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"972d47bb.97c888","type":"function","z":"e9567a15.36af8","name":"PreToken","func":"global.set(\"na\",msg.payload.na)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"ot\",msg.payload.ot)\nglobal.set(\"ab\",msg.payload.ab)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"mo\",msg.payload.mo)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"mr\",msg.payload.mr)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"br\",msg.payload.br)\nglobal.set(\"nd\",msg.payload.nd)\nvar apikey=\"siMvQY1dsb0gSWKqe9UcIXoJ_4ZYvVh6XDEuUyPooBYv\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":255,"y":316.0000047683716,"wires":[["6e6cc6c5.44211"]]},{"id":"6e6cc6c5.44211","type":"http request","z":"e9567a15.36af8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","proxy":"","authType":"","x":454,"y":305,"wires":[["9c93d8d1.f827"]]},{"id":"9b05f45b.2f4598","type":"inject","z":"e9567a15.36af8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100.5,"y":230.00000286102295,"wires":[["972d47bb.97c888"]]},{"id":"bf57525.8f4e03","type":"debug","z":"e9567a15.36af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"9c93d8d1.f827","type":"function","z":"e9567a15.36af8","name":"Pre Prediction","func":"var na = global.get('na')\nvar se= global.get('se')\nvar ot = global.get('ot')\nvar ab = global.get('ab')\nvar vt = global.get('vt')\nvar yr = global.get('yr')\nvar gb = global.get('gb')\nvar ps = global.get('ps')\nvar mo = global.get('mo')\nvar km = global.get('km')\nvar mr = global.get('mr')\nvar ft = global.get('ft')\nvar br = global.get('br')\nvar nd = global.get('nd')\nvar token=msg.payload.access_token\nvar instance_id=\"79b3e63c-7b6b-4ad4-999b-0219bed297c6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"name\", \"seller\", \"offerType\", \"abtest\", \"vehicleType\", \"yearOfRegistration\", \"gearbox\", \"powerPS\", \"model\", \"kilometer\", \"monthOfRegistration\", \"fuelType\", \"brand\", \"notRepairedDamage\"], \"values\": [[na,se,ot,ab,vt,yr,gb,ps,mo,km,mr,ft,br,nd]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":651.0000076293945,"y":268.00000381469727,"wires":[["ffa52650.d457"]]},{"id":"ffa52650.d457","type":"http request","z":"e9567a15.36af8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/4ada5d4e-7474-4ced-800d-7cc2621b9e1b/predictions","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["ebeb25d7.181cb8"]]},{"id":"fb474a08.751248","type":"ui_form","z":"e9567a15.36af8","name":"","label":"","group":"8cbf1112.28cd68","order":0,"width":0,"height":0,"options":[{"label":"name","value":"na","type":"text","required":true,"rows":null},{"label":"seller","value":"se","type":"text","required":true,"rows":null},{"label":"offerType","value":"ot","type":"text","required":true,"rows":null},{"label":"abtest","value":"ab","type":"text","required":true,"rows":null},{"label":"vehicleType","value":"vt","type":"text","required":true,"rows":null},{"label":"yearOfRegistration","value":"yr","type":"number","required":true,"rows":null},{"label":"gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"powerPS","value":"ps","type":"number","required":true,"rows":null},{"label":"model","value":"mo","type":"text","required":true,"rows":null},{"label":"kilometer","value":"km","type":"text","required":true,"rows":null},{"label":"monthOfRegistration","value":"mr","type":"number","required":true,"rows":null},{"label":"fuelType","value":"ft","type":"text","required":true,"rows":null},{"label":"brand","value":"br","type":"text","required":true,"rows":null},{"label":"notRepairedDamage","value":"nd","type":"text","required":true,"rows":null}],"formValue":{"na":"","se":"","ot":"","ab":"","vt":"","yr":"","gb":"","ps":"","mo":"","km":"","mr":"","ft":"","br":"","nd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["972d47bb.97c888"]]},{"id":"e3d29b28.f9d588","type":"ui_text","z":"e9567a15.36af8","group":"8cbf1112.28cd68","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":772.6000366210938,"y":364.20001220703125,"wires":[]},{"id":"ebeb25d7.181cb8","type":"function","z":"e9567a15.36af8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.6000366210938,"y":107.60000610351562,"wires":[["bf57525.8f4e03","e3d29b28.f9d588"]]},{"id":"8cbf1112.28cd68","type":"ui_group","z":"","name":"Default","tab":"8febc7cd.7352b","order":1,"disp":true,"width":"6","collapse":false},{"id":"8febc7cd.7352b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]